@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'SL Titans';
    font-style: normal;
    src: url(./assets/fonts/titans.ttf) format('truetype');
}

:root {
    color-scheme: dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "OutFit", "Work Sans", "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

body,
html,
*,
*::before,
*::after,
:host,
:root {
    word-wrap: break-word;
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    -moz-osx-font-smoothing: grayscale;
}

:root,
html,
body {
    background-color: #1b1b25;
    @apply bg-theme-slt text-theme-clr;
    color-scheme: dark;
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    @apply focus:outline focus:outline-2 focus:outline-theme-hvr;
}


input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

img,
svg {
    max-width: 100%;
    max-height: 100%;
}


@layer utilities {
    .all-center {
        @apply justify-center items-center;
    }

    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .boxed-shadow-red {
        box-shadow: 0px 4px 50px 0px #D53933;
    }

    .boxed-shadow-purple {
        box-shadow: 0px 4px 50px 0px #721CFF;
    }

    .text-shadow {
        text-shadow: 0 4px 50px #721CFF;
    }

    .img-shadow-purple {
        -webkit-filter: drop-shadow(0px 4px 4px #721CFF);
        -moz-filter: drop-shadow(0px 4px 4px #721CFF);
        -ms-filter: drop-shadow(0px 4px 4px #721CFF);
        -o-filter: drop-shadow(0px 4px 4px #721CFF);
        filter: drop-shadow(0px 4px 4px #721CFF);
    }
}

#root {
    width: 100dvw;
    height: 100dvh;
}


.placeholder {
    /* background-image: url("/assets/fallback.png"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-clip: content-box;
    background-attachment: scroll;
}

.round-button {
    @apply w-8 h-8 transition-all flex all-center cursor-pointer rounded-full text-xl hover:bg-theme-hvr;
}

fieldset {
    @apply my-5 flex flex-col gap-1;
}

label {
    @apply font-semibold;
}

input {
    @apply w-full px-5 py-3 bg-theme-blk shadow rounded;
}

body {
    background-image: linear-gradient(45deg, #08080c, #1a1a29);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: content-box;
    background-attachment: scroll;
}

.clock-hand {
    position: absolute;
    width: 2px;
    border-radius: 9999px;
    height: 32px;
    transform-origin: center bottom;
    translate: -50% 0;
    top: 0;
    left: 32px;
    rotate: calc(1deg * var(--r));
}

.clock-hand.__h {
    background-color: #721CFF;
    top: 12px;
    width: 3px;
    height: 20px;
}

.clock-hand.__m {
    background-color: #71F10D;
    top: 8px;
    width: 2px;
    height: 24px;
}

.clock-hand.__s {
    background-color: #D53933;
    top: 4px;
    width: 1px;
    height: 28px;
}

.clock-hand__d {
    background-color: #721CFF;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 4px;
    height: 4px;
    border-radius: 9999px;
    position: absolute;
}